[submodule "ULIS/Tools/Submodules/ProjectDependencies/ProjectDependencies"]
	path = ULIS/Tools/Submodules/ProjectDependencies/ProjectDependencies
	url = https://github.com/Robot-Fromage/ProjectDependencies