# Visual Studio Cache
.vs/*

# Python Cache
__pycache__/
*.pyc

# Project Files for Windows
*.sln
*.vcxproj.*

# EmbeddedDependencies
ULIS/Tools/EmbeddedDependencies*/*

# Content
*/Content/*

# Private config files
**.pconfig**

# Project config files
ProjectConfigOverrides.cmake
VisualStudio_Solution_MSVC_Config.cmake
MinGW_Makefile_GCC_Config.cmake
VisualStudio_Solution_CLANG_LLVM_Config.cmake
Xcode_Config.cmake
SublimeText_Project_GNU_GCC_Config.cmake

# Shortcuts
*.lnk

# Distro
Redist/*

# Doc
ULIS/Documentation/1.0/*
ULIS/Documentation/public_1.0/*

# ipp
!*.ipp

#ULIS_ minimal includes
!ULIS_*

# Generated
*/Generated/*
*/Generated*/*

